.add-brick {
  position: relative;
  opacity: 0;
  transition: opacity 0.4s ease-in 0.1s;
  margin: 10px 0;
}

.add-brick:active {
  opacity: 0 !important;
  transition: opacity 0s;
}

.add-brick:hover {
  opacity: 1;
}

.add-brick.force-visible {
  opacity: 1;
}

.add-brick .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  width: 95%;
  z-index: -1;
}

.add-brick .add-buttons {
  display: flex;
  justify-content: center;
}

.add-brick .add-buttons button {
  margin: 0 20px;
}
